/*1-2*/
ul,
li,
ol {
    margin: 0;
    padding: 0;
list-style-type: none;}

/*3-4*/
.copyright a {color: #fff;}
.copyright a:hover {color: #0fb0d3;}
.copyright p {color: #fff;
font-size: 18px;
text-align: center;
line-height: 28px;}

/*5*/
.submit:hover {background-color: #ddd;
border-color: #ddd;
color: #0fb0d3;}

/*6*/
p {font-weight: 300;
margin: 0%;
font-size: 15px;
line-height: 24px;}

/*7*/
h1 {color: #fff;
padding-top: 20px;
padding-bottom: 40px;
font-weight: bold;
font-size: 100px;
text-transform: uppercase;
line-height: 85px
}

/*8*/
.titlepage {
    padding-bottom: 20px;
    text-align: right;
}

/*9*/
.Gallery_text p {
    font-size: 17px;
    line-height: 35px;
    font-weight: 400;
    text-align: right;
    color: #181716;
}

/*10*/
#gallery {
    background-color: #ececec;
    padding-left: 0;
    padding-right: 0;
    padding-top: 110px;
    padding-bottom: 110px;
}

/*11*/
.more_button {
    color: #fff;
    font-size: 16px;
    border-color: #000;
    border-width: 1px;
    background-color: #000;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 100%;
    max-width: 171px;
    text-align: center;
    border-radius: 30px;
}

/*12*/
.more_button:hover {
    color: #fff;
    background-color: #0ed1f0;
    border-color: #0ed1f0;
    border-width: 1px;
}

/*13*/
.about_box a {
    border-color: #000;
    border-width: 1px;
    background-color: #000;
    color: #fff;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 171px;
    text-align: center;
    border-radius: 30px;
}

/* ----- */
span {font-size: 80px;
    line-height: 80px;
    color: #0fc9da;
    text-transform: uppercase;}
    
.slider_section {
    padding-top: 268px}